{#plantilla de nuesta aplicacion#}
{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{#contenido#}
 {% block body %}
   <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">ingrediente</h1>

    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-4">
        <p>{{ingrediente.nombre}}</p>
      </div>
    </div>
    <!-- /.row -->
    <br>
{% endblock %}